/* بسم الله الرحمن الرحيم */
.wrapper{
    display: flex;justify-content: center;
    width: 100%;
}
.wrapper .tasks {
    width: 70%;
}
.todo {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    background: #303436;
    border-radius: 10px;
    padding:3px 23px;
}
.todo input[type=checkbox] {
    width: 25px; height: 25px;
}
.todo button{
    border-radius: 5px;color: white;
    border: none;
    padding: 7px 15px;margin-left: 7px;
    cursor: pointer;
}
.todo button:first-child{
    background: #dca937;color: black;
}
.todo button:last-child{
    background: #c01d1d;
}
.completed {
    text-decoration-line: line-through;
    color: rgba(161,152,152,0.91);
}
/* الحمد لله */